@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Righteous&display=swap");

* {
    box-sizing: border-box;
}


html body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding: 0ex;
}

.nav li {
    display: inline;

}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #b8590b;
    text-decoration: none;

}

.nav a:hover {
    background-color: rgba(255,255,255,.8)
}

.main-header {
    background-color: black;
    padding: 0;
    margin: 0;

    
    color: #b8590b;
    text-align: center;
    font-size: 1.2em;
}

.main-header a {
    color: #b8590b;
    text-decoration: none;

}

.main-header li {
    padding: 0 0%;
}

.ITPL-logo {
    display: inline-block;
    font-family: 'Righteous', cursive;
}

.content-section{
    margin: 1em;
    margin: 0 auto;
    padding: 0 1.2em;

}

.container {
    max-width: 900px;
}

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.prof-img {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-top-left-radius: 40%;
    margin-top: 0;
}

.footer {
    display: flex;
    background-color: rgb(173, 173, 173);
    padding: .3em 0;
}

.footer-container {
    display: flex;
    margin-left: 1em;    
}
.ITPL-footer {
    margin-right: 1em;
    margin-top: 0.5em;
}

.news {
    border-bottom: 1px solid black;
}

.news-container{
    margin-bottom: 2ex;
}

.footer-info {
    flex-grow: 1;
    font-size: 0.8em;
    text-align: end;
    margin-right: 1.5em;
}

.footer-info a{
    text-decoration: none;
    color: black;
}

.footer-info a:hover{
    background-color: rgba(255,255,255,.8);
}

@media screen and (max-width: 360px){
    .main-header {
        position: sticky;
        margin-top: 0;
        text-align: none;
        
    }
    
    .logo {
        height: 30px;
        background-color: black;
    }
    .nav{
        height: 30px;
        background-color: black;
    }

    .nav ul {
        position: absolute;
        top: 10px;
        margin-left: 80px;
        font-family: 'Righteous', cursive;
        font-size: 18px;
    }

    .favico-header {        
        margin: 0;
        border: 0;
        padding: 0;
        width: 50px;
        position: absolute;
        top: 5px;
        left: 5px;
      }

    .ITPL-logo {
        margin: 0;
        border: 0;
        padding: 0;
        width: 10px;
        font-size:15px;
        position: absolute;
        top: 35px;
        left: 18px;
    }

    .footer-logo {
        width: 2.5em;
        padding: 0;
        margin: 0;
    }

    .footer-linkedin {
        width: 4.5em;
        padding: 0;
        margin: 0;
    }

    .footer-info li{
        font-size: 0.8em;
        display: inline;
        padding: 0 1%;
    }

    h3 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 30px; 
        font-family: 'Righteous', cursive;
        color: hsl(35, 66%, 18%);
    }

    p{
        text-align: center;
        margin-top: 0;
        font-size: 15px; 
        font-family: 'Righteous', cursive;
        color: hsl(35, 66%, 18%);
    }
    .contact-form {
        margin: 35px auto 0px auto;
        width: 80%;
    }
    .contact-form label {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 10px;
        font-family: 'Righteous', cursive;
      }
      
      .contact-form input {
        padding: 12px 20px;
        outline: none;
        border: none;
        border-bottom: 2px solid #ccc;
        background: rgb(255, 255, 255);
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 20px;
        width: 100%;
      }
      
      .contact-form input:focus {
        border-bottom: 2px solid #1a883f;
      }
      
      .contact-form textarea {
        padding: 12px 20px;
        outline:darkgray;
        border:darkgray;
        border-bottom: 2px solid #ccc;
        background: rgb(255, 255, 255);
        font-size: 18px;
        border-radius: 3px;
        width: 100%;
        font-family: inter;
        font-weight: normal;
      }
      
      .contact-form textarea:focus {
        border-bottom: 2px solid #1a883f;
      }
      
      .contact-form button {
        font-size: 19px;
        width: 100%;
        margin-top: 25px;
        border: none;
        padding: 12px 20px;
        background-color: #22b352;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-bottom: 3px solid #1a883f;
      }
      
      .contact-form button:hover {
        background-color: #1a883f;
        border-bottom: 3px solid #22b352;
      }
}